{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ asset('assets/css/home/styles.css') }}">
{% endblock %}

{% block navigation %}
    {% include "block/nav.html.twig" %}
{% endblock %}

{% block content %}
    <section style="background-image: url({{ homeRandomImage }})" class="home-search-section">
        <div class="opaque-overlay"></div>
    </section>
{% endblock %}

{% block footer %}
{% endblock %}
