{% block nav %}
    <div class="nav-container">
        <div class="logo-container">
            <img src="{{ asset('assets/img/logo.svg') }}" alt="logo">
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Countries</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
{% endblock %}
